
.Project-display{

    position: fixed;
    display: grid;
    right: 0px;
    left: 200px;
    top: 100px;
    bottom: 0;
    z-index: -1;
    background-color: bisque;

}



.default-button{

    position: fixed;
    top: 210px;
    left: 3;
    z-index: 100;
    background-color: yellow;
    border-style: solid;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;

}

.default-button:hover{

    cursor: pointer;
    animation: DefaultAnim ease 0.3s;
    background-color: black;
    color: yellow;
}


@keyframes DefaultAnim {
    
    0%{

        background-color: yellow;
        color: black;

    }
    

    100%{

        background-color: black;
        color: yellow;
    }
}

.create-todo-button{


    margin-top: 60px;

}

.Project-header{

    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;

}

.current-project-name{

    text-decoration: underline;

}



.top-bar{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: black;
    z-index: 1;
}


.side-bar{

    position: fixed;
    left: 0;
    bottom: 0;
    top: 100px;
    width: 200px;
    
    background-color: yellow;



}


.list-div{

    position: fixed;
    left: 400px;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300vh;
    background-color: yellow;


}

.render-list{

display: flex;

}

.project-upper{

    position: fixed;
    color: black;
    margin-top: 323px;
    margin-left: 5px;
    font-family: 7px;
    font-family: Arial, Helvetica, sans-serif;
    
}



.project-title{

    margin-top: 20px;


}


.delete-img-button{

    height: 13px;
    width: 13px;

}

.delete-button{

    position: absolute;
    border-style: none;
    background-color: yellow;

}

.Project{

    pointer-events: auto;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 4px;
    margin-top: 15px;
    padding: 6px;
    border-style: solid;
    border-width: 2px;

}


.Project:hover{


    cursor: pointer;

}

.delete-button:hover{


    cursor: pointer;

}

.border-style{

    height: 500px;
    width: 650px;
    background-color: bisque;
    position: fixed;
margin-top: -500px;
    border-style: solid;
 opacity: 0.2;
    z-index: 50;


}

.todo-element, .enter-button-input{

animation: inputbox ease 0.3s;
display: flex;
margin-left: 600px;
border-radius: 7px;
z-index: 100;


}


@keyframes inputbox{

    0%{

        opacity: 0;

    }100%{

        opacity: 100;

    }


}

.enter-button-input{

    margin-top: 200px;
    font-size: 50px;
    margin-left: 610px;

}

.project-select  {

    position: fixed;
    margin-top: 200px;
    margin-left: 725px;
    font-size: 30px;
    height: 40px;
}


.input-duedate{

    position: fixed;
    margin-top: 20px;
    margin-left: 400px;
    font-size: 30px;
    width: 300px;


}


.input-description{

    position: fixed;
    margin-top: 80px;
    margin-left: 400px;
    font-size: 20px;
    padding-bottom: 50px;
    width: 600px;
}



.full-project-field{

    animation: appearing ease 0.3s;
    position: fixed;
    margin-left: 550px;
    margin-top: 400px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    padding: 20px;
    border-style: solid;
    z-index: 900;

}

@keyframes appearing {

    0%{

        opacity: 0;

    }

    100%{

        opacity: 1;

    }
    
}


.input-projectName,.enter-button{

    font-size: 50px;
}

.enter-button{

    cursor: pointer;

}

.specific-list{
    
    display: flex;


}


.element-name {

    display: inline-block;

}

.new-button{

    position: absolute;
    margin-top: 80px;
    margin-left: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;


}


.project-list{

    position: fixed; 
    width: 200px;
    background-color: yellow;
    left: 0;
    top: 350px;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 200;
    color: black;

}

.display-none{

    display: none;

}

.input-priority{

    position: fixed;
    margin-top: 18px;
    margin-left: 725px;
    font-size: 30px;
    height: 42px;


}


.input-title{

    margin-top: 200px;
    margin-left: 400px;
    font-size: 30px;
    width: 300px;
    z-index: 500;



}