

.list-div{

    position: fixed;
    left: 400px;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300vh;
    background-color: aquamarine;


}

.render-list{

display: flex;
margin-bottom: 30px;

}

.specific-list{
    display: flex;


}


.element-name {

    display: inline-block;

}


.project-list{

    margin-top: 60px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;


}

.display-none{

    display: none;

}